<header>
    <app-header></app-header>
</header>
<nav class="outLine">
    <aside>
        <app-side-bar></app-side-bar>
    </aside>
    <main>
        <nav class="borderPaper">
            <nav class="inBorder">
                <span class="textLine01">Satisfaction Conference</span>
                <span class="textLine02">คณะกรรมการร่วมประเมินผลงาน</span>
                <nav class="gradeUser">
                    <span class="textLine03">กรรมการประเมินผลงาน : ผศ.จอห์น สัน </span>
                    <span class="textLine03">สังกัด : มหาวิทยาลัยเทคโนโลยีราชมงคล ศรีวิชัย สงขลา</span>
                    <span class="textLine03">หน้าที่รับผิดชอบ : Information Technology Cloud Computing</span>
                </nav>
                <span class="textLine04">ประเภทบทความ : Cloud Computing</span>
                <span class="textLine04">Title : Elevate the Future: Cloud Computing in Action</span>
                <span class="textLine04">บทความโดย นางสาวคอดียะห์ หลังยาหน่าย</span>
                <iframe src="" frameborder="0"></iframe>
                <nav class="addNewFile">
                    <i class="fa-solid fa-plus"></i>
                    <span class="addFileText">เพิ่มไฟล์แนบหลังคณะกรรมการประเมินบทความและได้รับการแก้ไข</span>
                </nav>
                <span class="textLine05">Contents (ด้านเนื้อหา)</span>
                <table>
                    <thead>
                        <tr>
                            <th>ลักษณะคุณภาพ</th>
                            <th>
                                <nav class="addScoreBox">
                                    <span>มี</span>
                                    <span>ไม่มี</span>
                                </nav>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1.เป็นผลงานที่มีการกำหนดประเด็นที่ต้องการอธิบายหรือวิเคราะห์อย่างชัดเจน</td>
                            <td>
                                <nav class="addScoreBox">
                                    <input type="radio" name="score01">
                                    <input type="radio" name="score01">
                                </nav>
                            </td>
                        </tr>
                        <tr>
                            <td>2.เป็นผลงานที่มีเนื้อหาสาระถูกต้องสมบูรณ์
                                มีแนวคิดและการนำเสนอที่ชัดเจนเป็นประโยชน์ต่อวงวิชาการ/ วิชาชีพ</td>
                            <td>
                                <nav class="addScoreBox">
                                    <input type="radio" name="score02">
                                    <input type="radio" name="score02">
                                </nav>
                            </td>
                        </tr>
                        <tr>
                            <td>3.เป็นผลงานที่มีแหล่งอ้างอิงที่ถูกต้อง การใช้ภาษาที่ชัดเจน เหมาะสม และถูกต้องตามหลักภาษา
                            </td>
                            <td>
                                <nav class="addScoreBox">
                                    <input type="radio" name="score03">
                                    <input type="radio" name="score03">
                                </nav>
                            </td>
                        </tr>
                        <tr>
                            <td>4.เป็นผลงานที่มีการนำเสนอที่ชัดเจน มีเอกภาพ ไม่สับสน
                                สามารถทำให้ผู้อ่านติดตามเนื้อหาของผลงานได้โดยสะดวก
                            </td>
                            <td>
                                <nav class="addScoreBox">
                                    <input type="radio" name="score04">
                                    <input type="radio" name="score04">
                                </nav>
                            </td>
                        </tr>
                        <tr>
                            <td>5.เป็นผลงานที่มีการวิเคราะห์และเสนอความรู้หรือวิธีการที่ทันสมัยต่อความก้าวหน้าทางวิชาการ/
                                วิชาชีพ และเป็นประโยชน์ต่อวงวิชาการ/ วิชาชีพ สามารถนำไปใช้อ้างอิงหรือนำไปปฏิบัติได้</td>
                            <td>
                                <nav class="addScoreBox">
                                    <input type="radio" name="score05">
                                    <input type="radio" name="score05">
                                </nav>
                            </td>
                        </tr>
                        <tr>
                            <td>5.เป็นผลงานที่มีการวิเคราะห์และเสนอความรู้หรือวิธีการที่ทันสมัยต่อความก้าวหน้าทางวิชาการ/
                                วิชาชีพ และเป็นประโยชน์ต่อวงวิชาการ/ วิชาชีพ สามารถนำไปใช้อ้างอิงหรือนำไปปฏิบัติได้</td>
                            <td>
                                <nav class="addScoreBox">
                                    <input type="radio" name="score05">
                                    <input type="radio" name="score05">
                                </nav>
                            </td>
                        </tr>
                        <tr>
                            <td>6.เป็นผลงานที่มีเนื้อหาสาระทางวิชาการที่ทันสมัย</td>
                            <td>
                                <nav class="addScoreBox">
                                    <input type="radio" name="score06">
                                    <input type="radio" name="score06">
                                </nav>
                            </td>
                        </tr>
                        <tr>
                            <td>7.เป็นผลงานที่สามารถนำไปใช้เป็นแหล่งอ้างอิงหรือนำไปปฏิบัติได้</td>
                            <td>
                                <nav class="addScoreBox">
                                    <input type="radio" name="score07">
                                    <input type="radio" name="score07">
                                </nav>
                            </td>
                        </tr>
                        <tr>
                            <td>8.เป็นผลงานที่มีลักษณะเป็นงานบุกเบิกความรู้ใหม่ในเรื่องใดเรื่องหนึ่ง</td>
                            <td>
                                <nav class="addScoreBox">
                                    <input type="radio" name="score08">
                                    <input type="radio" name="score08">
                                </nav>
                            </td>
                        </tr>
                        <tr>
                            <td>9.เป็นผลงานที่มีการกระตุ้นให้เกิดความคิดและค้นคว้าอย่างต่อเนื่อง
                                เป็นที่เชื่อถือและยอมรับในวงวิชาชีพ</td>
                            <td>
                                <nav class="addScoreBox">
                                    <input type="radio" name="score09">
                                    <input type="radio" name="score09">
                                </nav>
                            </td>
                        </tr>
                        <tr>
                            <td>10.เป็นผลงานที่มีการวิเคราะห์อย่างเป็นระบบ และสรุปประเด็นการวิเคราะห์
                                จนสามารถให้ข้อเสนอแนะที่เป็นประโยชน์อย่างเหมาะสม</td>
                            <td>
                                <nav class="addScoreBox">
                                    <input type="radio" name="score10">
                                    <input type="radio" name="score10">
                                </nav>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <span class="textLine05"><i class="fa-solid fa-circle"></i> สรุปผลการพิจารณาคุณภาพของผลงาน</span>
                <span class="textLine06"><i class="fa-solid fa-circle"></i> ต่ำกว่าระดับ ดี(ไม่มีลักษณะตามข้อ 1 - 4) <i
                        class="fa-solid fa-circle"></i> พอใช้ <i class="fa-solid fa-circle"></i>ต้องปรับปรุง</span>
                <span class="textLine06"><i class="fa-solid fa-circle"></i> ดี (มีลักษณะตามข้อ 1 - 4)</span>
                <span class="textLine06"><i class="fa-solid fa-circle"></i> ดีมาก (มีลักษณะตามข้อ 1 - 7)</span>
                <span class="textLine06"><i class="fa-solid fa-circle"></i> ดีเด่น (มีลักษณะตามข้อ 1 – 10 )</span>
            </nav>
        </nav>
    </main>
</nav>