<header>
    <app-header-visitor></app-header-visitor>
</header>
<app-cfp-noheader></app-cfp-noheader>
<!-- <main>
    <nav class="pageBox">
        <nav class="titleBox">
            <span class="title01">Call for Papers</span>
            <span class="title02">ขอเชิญส่งบทความ</span>
        </nav>
        <nav class="listPaperBox">
            <nav class="list">
                <span class="listText01">CI : Computational Intelligence</span>
                <span class="listText02">ความฉลาดทางการคำนวณ</span>
            </nav>
            <nav class="list">
                <span class="listText01">CI : Computational Intelligence</span>
                <span class="listText02">ความฉลาดทางการคำนวณ</span>
            </nav>
            <nav class="list">
                <span class="listText01">CI : Computational Intelligence</span>
                <span class="listText02">ความฉลาดทางการคำนวณ</span>
            </nav>
            <nav class="list">
                <span class="listText01">CI : Computational Intelligence</span>
                <span class="listText02">ความฉลาดทางการคำนวณ</span>
            </nav>
            <nav class="list">
                <span class="listText01">CI : Computational Intelligence</span>
                <span class="listText02">ความฉลาดทางการคำนวณ</span>
            </nav>
            <nav class="list">
                <span class="listText01">CI : Computational Intelligence</span>
                <span class="listText02">ความฉลาดทางการคำนวณ</span>
            </nav>
            <nav class="list">
                <span class="listText01">CI : Computational Intelligence</span>
                <span class="listText02">ความฉลาดทางการคำนวณ</span>
            </nav>
            <nav class="list">
                <span class="listText01">CI : Computational Intelligence</span>
                <span class="listText02">ความฉลาดทางการคำนวณ</span>
            </nav>
            <nav class="list">
                <span class="listText01">CI : Computational Intelligence</span>
                <span class="listText02">ความฉลาดทางการคำนวณ</span>
            </nav>
            <nav class="list">
                <span class="listText01">CI : Computational Intelligence</span>
                <span class="listText02">ความฉลาดทางการคำนวณ</span>
            </nav>
            <nav class="list">
                <span class="listText01">CI : Computational Intelligence</span>
                <span class="listText02">ความฉลาดทางการคำนวณ</span>
            </nav>
            <nav class="list">
                <span class="listText01">CI : Computational Intelligence</span>
                <span class="listText02">ความฉลาดทางการคำนวณ</span>
            </nav>
            <nav class="list">
                <span class="listText01">CI : Computational Intelligence</span>
                <span class="listText02">ความฉลาดทางการคำนวณ</span>
            </nav>
        </nav>
    </nav>
</main> -->