<!-- <header>
    <app-header></app-header>
</header> -->
<main>
    <nav class="pageBox">
        <nav class="titleBox">
            <span class="title01">Call for Papers</span>
            <span class="title02">ขอเชิญส่งบทความ</span>
        </nav>
        <nav class="listPaperBox">
            <nav *ngFor="let item of data" class="list">
                <nav class="list" routerLink="/signin">
                    <span class="listText01">{{item.types}}</span>
                    <span class="listText02">{{item.title}}</span>
                </nav>
            </nav>
            <!-- <nav class="list">
                <span class="listText01">CI : Computational Intelligence</span>
                <span class="listText02">ความฉลาดทางการคำนวณ</span>
            </nav>
            <nav class="list">
                <span class="listText01">CI : Computational Intelligence</span>
                <span class="listText02">ความฉลาดทางการคำนวณ</span>
            </nav>
            <nav class="list">
                <span class="listText01">CI : Computational Intelligence</span>
                <span class="listText02">ความฉลาดทางการคำนวณ</span>
            </nav>
            <nav class="list">
                <span class="listText01">CI : Computational Intelligence</span>
                <span class="listText02">ความฉลาดทางการคำนวณ</span>
            </nav>
            <nav class="list">
                <span class="listText01">CI : Computational Intelligence</span>
                <span class="listText02">ความฉลาดทางการคำนวณ</span>
            </nav>
            <nav class="list">
                <span class="listText01">CI : Computational Intelligence</span>
                <span class="listText02">ความฉลาดทางการคำนวณ</span>
            </nav>
            <nav class="list">
                <span class="listText01">CI : Computational Intelligence</span>
                <span class="listText02">ความฉลาดทางการคำนวณ</span>
            </nav>
            <nav class="list">
                <span class="listText01">CI : Computational Intelligence</span>
                <span class="listText02">ความฉลาดทางการคำนวณ</span>
            </nav>
            <nav class="list">
                <span class="listText01">CI : Computational Intelligence</span>
                <span class="listText02">ความฉลาดทางการคำนวณ</span>
            </nav>
            <nav class="list">
                <span class="listText01">CI : Computational Intelligence</span>
                <span class="listText02">ความฉลาดทางการคำนวณ</span>
            </nav>
            <nav class="list">
                <span class="listText01">CI : Computational Intelligence</span>
                <span class="listText02">ความฉลาดทางการคำนวณ</span>
            </nav>
            <nav class="list">
                <span class="listText01">CI : Computational Intelligence</span>
                <span class="listText02">ความฉลาดทางการคำนวณ</span>
            </nav> -->
        </nav>
    </nav>
</main>