<nav class="headerBox">
    <nav class="headerTitle">
        <i class="svg-logo"></i>
        <span class="titleText01">Acadamic</span>
        <span class="titleText02">Conference</span>
        <span class="titleText02">{{year}}</span>
    </nav>
    <nav class="headerMenu">
        <nav routerLink="/home-visitor" class="menu active">
            <nav id="barHome" class="menuActive"></nav>
            <span class="textActive">Home</span>
        </nav>
        <nav routerLink="/callForPaper-visitor" class="menu active">
            <nav id="barCallForPaper" class="menuActive"></nav>
            <span>call for paper</span>
        </nav>
        <nav routerLink="/contact-visitor" class="menu active">
            <nav id="barContact" class="menuActive"></nav>
            <span>Contact</span>
        </nav>
        <nav routerLink="/signin" class="menu active">
            <nav class="menuActive"></nav>
            <span>submission</span>
        </nav>
    </nav>
</nav>