<header>
    <app-header></app-header>
</header>
<nav class="outLine">
    <aside>
        <app-side-bar></app-side-bar>
    </aside>
    <main>
        <nav class="userBox">
            <nav class="tableTitle">
                <nav class="left">
                    <span class="titleText">จัดการใบปริว {{length}} รายการ</span>
                </nav>
                <nav class="right">
                    <nav (click)="Minus()" class="minus">
                        <i class="fa-solid fa-chevron-left"></i>
                    </nav>
                    <nav class="page">
                        <span>1</span>
                    </nav>
                    <nav (click)="Plus()" class="plus">
                        <i class="fa-solid fa-chevron-right"></i>
                    </nav>
                    <nav (click)="OpenPopup()" class="add">
                        <button class="bt-blue addBT" type="button">เพิ่มใบปริว</button>
                    </nav>
                </nav>
            </nav>
            <table>
                <thead>
                    <tr>
                        <th></th>
                        <th>ลำดับ</th>
                        <th>หัวข้อ</th>
                        <th>วันที่</th>
                        <th>จัดการ</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of data;index as i">
                        <td class="tdStart"></td>
                        <td>{{i + 1}}</td>
                        <td>{{item.name}}</td>
                        <td>{{NameDate(item.date)}}</td>
                        <td class="manageTD">
                            <nav (click)="EditOpoup(
                                item.no,
                                item.name,
                                item.file
                            )" class="edit">
                                <i class="fa-solid fa-pen-to-square"></i>
                            </nav>
                            <nav (click)="Del(item.no)" class="del">
                                <i class="fa-solid fa-trash-can"></i>
                            </nav>
                        </td>
                        <td class="tdEnd"></td>
                    </tr>
                </tbody>
            </table>
        </nav>
    </main>
</nav>

<!-- popup -->
<nav id="popup" class="popupBox" style="display: none;">
    <nav (click)="ClosePopup()" class="backClose"></nav>
    <form (ngSubmit)="Set()" [formGroup]="formSet" class="formSet">
        <!-- <nav (click)="ClosePopup()" class="formClose">
            <i class="fa-solid fa-square-xmark"></i>
        </nav> -->
        <span id="formTitle" class="formTitle">เพิ่มใบปริว</span>
        <nav class="formGroup">
            <label for="">ชื่อเรื่อง</label>
            <input formControlName="name" class="inputBox" type="text">
        </nav>
        <nav class="formGroup">
            <label for="">ไฟล์</label>
            <input (change)="Base64($event)" type="file" class="inputBox" accept="application/pdf">
        </nav>
        <button [disabled]="formSet.invalid" class="bt-blue" type="submit">บันทึก</button>
    </form>
</nav>